@{
    ViewData["Title"] = "Home Page";
}

<div id="MyInstagramContainer">
    <table>
        <thead>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Image</th>
        <th>Price</th>
        <th></th>
        </thead>
        <tbody id="ProductsBody">
        </tbody>
    </table>
</div>


<script src="~/js/Index.js"></script>
<script src="~/js/Objects.js" type="text/javascript"></script>
<script src="~/js/moment.js"></script>