@{
    ViewData["Title"] = "Registration Page";
}

<div id="MyInstagramContainer">
    <table>
      
        <tbody id="ProductsBody">
      
        </tbody>
    </table>
</div>


<script src="~/js/Registration.js"></script>