@{
    ViewData["Title"] = "Registration Page";
}

<div id="MyInstagramContainer">
    <table>

        <tbody id="ProductsBody">
        </tbody>
    </table>

</div>
<div>
    <select text="Country of Residence: " id="Country of Residence: ">
        <option id="USA">USA</option>
        <option id="Mexico">Mexico</option>
    </select>
</div>

<script src="~/js/Registration.js"></script>