@{
    ViewData["Title"] = "Registration Page";
}

<div id="MyInstagramContainer">
    <form id="MainForm">
        <table>

            <tbody id="ProductsBody">
            </tbody>
        </table>
    </form>
</div>

<script src="~/js/User.js"></script>
<script src="~/js/Registration.js"></script>